.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.login-button, .title-button{
    height: 100%;
    background: transparent;
    border: none;
    font-size: smaller;
    color: #ffffff;
}

.title-button{
    font-size: larger;
    position: absolute;
    top: 10px;
}

.login-button:focus, .title-button:focus{
    outline: none;
}
.login-button:hover , .title-button:hover{
   color: #4A148C;
}

mat-toolbar{
    background-color: #B39DDB;
    color: #ffffff;
}