.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.login-button{
    height: 100%;
    background: transparent;
    border: 0;
    font-size: smaller;
    color: #ffffff;
}

mat-toolbar{
    background-color: #B39DDB;
    color: #ffffff;
}