.image-trip{
    object-fit: cover;
    width: 450px;
    height: 400px;
}

.trip-list{
    text-align: center;
}

.trip-conteiner{
    display: inline-block;
    position: relative;
}

.conteiner-image-trip{
    width: 450px;
    height: 400px;
    margin: 40px 20px 0px 20px;
    overflow: hidden;
    border-radius: 2%;
}

.trip-info{
    text-align: center;
    background: #ffffff95;
    width: 200px;
    position: absolute;
    top: 175px;
    left: 150px;
    border-radius: 2%;
    color: #000000;
}

.trip-price{
    margin: 10px 10px 20px 10px;
}

.no-access{
    height: 100%;
}