@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body{
    margin: 0px;
    font-family: sans-serif;
}

.app-container{
    background-color: #EDE7F6;
}

body{
    min-height: 100%;
}

.app-container .content{
    margin: 8px 15px 8px 15px;
}